$unnamed-color-000000: #000000;
$unnamed-color-16110d: #16110D;
$unnamed-color-ffffff: #FFFFFF;
$unnamed-color-fcbc2e: #FCBC2E;

$unnamed-font-family-sfcompactdisplay-semibold: SFCompactDisplay-Semibold;
$unnamed-font-family-sfcompacttext-semibold: SFCompactText-Semibold;
$unnamed-font-style-normal: normal;
$unnamed-font-weight-normal: normal;
$unnamed-font-size-22: 22px;
$unnamed-font-size-40: 40px;
$unnamed-font-size-48: 48px;
$unnamed-font-size-54: 54px;
$unnamed-font-size-72: 72px;
$unnamed-font-size-200: 200px;
$unnamed-character-spacing-0: 0px;
$unnamed-character-spacing-15: 15px;
$unnamed-character-spacing-3-6: 3.6px;
$unnamed-character-spacing-4-05: 4.05px;
$unnamed-character-spacing-5-4: 5.4px;
$unnamed-character-spacing-1-1: 1.1px;
$unnamed-line-spacing-48: 48px;
$unnamed-line-spacing-57-60000228881836: 57.60000228881836px;
$unnamed-line-spacing-64-80000305175781: 64.80000305175781px;
$unnamed-line-spacing-86-4000015258789: 86.4000015258789px;
$unnamed-line-spacing-240-00001525878906: 240.00001525878906px;
$unnamed-line-spacing-26-400001525878906: 26.400001525878906px;
